<li class="list-group-item d-flex justify-content-between align-items-center">
    <%= user.name %> (<%= user.email %>) - <%= user.user_type %>
    <div>
        <% if (user.user_type == 'user' ) { %>
            <a href="/promote/<%= user.email %>" class="btn btn-sm btn-success">Promote to Admin</a>
        <% } else { %>
            <a href="/demote/<%= user.email %>" class="btn btn-sm btn-warning">Demote to User</a>
        <% } %>
    </div>
</li>